{{!< ../layouts/main}}
<div class="p-6 max-w-xl mx-auto bg-white rounded shadow">
  <h2 class="text-xl font-bold mb-4">Editar Producto</h2>

  <form action="/admin/products/edit/{{producto.cod_producto}}" method="POST" enctype="multipart/form-data" class="space-y-4">
    <!-- Nombre del producto -->
    <input type="text" name="nombre" value="{{producto.nombre}}" required class="w-full p-2 border rounded">

    <!-- Descripción -->
    <textarea name="descripcion" class="w-full p-2 border rounded">{{producto.descripcion}}</textarea>

    <!-- Precio -->
    <input type="number" name="precio" value="{{producto.precio}}" required step="0.01" class="w-full p-2 border rounded">

    <!-- Stock -->
    <input type="number" name="stock" value="{{producto.stock}}" required class="w-full p-2 border rounded">

    <!-- Categoría -->
   <select name="cod_cat" class="w-full p-2 border rounded">
  <option value="" disabled>Seleccione una Categoría</option>
  {{#each categorias}}
    <option value="{{cod_cat}}" {{#if (eq cod_cat ../producto.cod_cat)}}selected{{/if}}>
      {{nombre}}
    </option>
  {{/each}}
</select>
    <!-- Foto -->
    <input type="file" name="foto" accept="image/*" class="w-full p-2 border rounded">

    <button type="submit" class="btn-gold">Actualizar</button>
  </form>
</div>
