<h1>{{action}} Producto</h1>
<form action="/admin/products{{#if producto}}/edit/{{producto.id}}{{/if}}" method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{producto.nombre}}" required>
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required>{{producto.descripcion}}</textarea>
    </div>
    <div>
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" value="{{producto.precio}}" required>
    </div>
    <div>
        <label for="imagen">Imagen:</label>
        <input type="text" name="imagen" id="imagen" value="{{producto.imagen}}">
    </div>
    <button type="submit" class="btn-primary">{{action}} Producto</button>
</form>
