{{!< ../layouts/main}}

<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <form action="/productos" method="GET" class="flex items-center w-full md:w-1/3">
      <input 
        type="text" 
        name="search" 
        value="{{searchQuery}}" 
        placeholder="Buscar productos..." 
        class="p-2 w-full border rounded-lg"
      />
      <button type="submit" class="btn-gold ml-2 py-2 px-4 rounded-full">Buscar</button>
    </form>
    <a href="/register/client" class="btn-gold py-2 px-4 rounded-full">Registrarse como Cliente</a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {{#each productos}}
      <div class="product-card bg-white shadow-lg rounded-lg p-4 text-center">
        <img src="/images/products/{{foto}}" alt="{{nombre}}" class="w-full h-64 object-cover rounded-lg mb-4" />
        <h3 class="text-xl font-semibold text-[#0F172A]">{{nombre}}</h3>
        <p class="text-[#F8FAFC]/80 mb-4">{{descripcion}}</p>
        <p class="text-[#FFD700] font-bold mb-4">Bs. {{precio}}</p>
        <button class="bg-[#FFD700] text-[#0F172A] py-2 px-4 rounded-full w-full mb-2">Agregar al Carrito</button>
      </div>
    {{/each}}
  </div>

  {{#if productos.length}}
    <p class="mt-6 text-sm text-gray-600">Se han encontrado {{productos.length}} productos.</p>
  {{else}}
    <p class="mt-6 text-red-500">No se encontraron productos.</p>
  {{/if}}
</div>
